<section id="login-area">
  <img src="/img/mack.gif" class="logo" alt="Mackenzie" />
  <form class="login-form" action="/fetch-my-tia" method="post">
      <fieldset>
        <label for="tia">
          <input type="text" placeholder="Tia" id="tia" name="tia"/>
        </label>
      </fieldset>
      <fieldset>
        <label for="pass">
          <input type="password" placeholder="Senha" id="pass" name="pass"/>
        </label>
      </fieldset>
      <fieldset>
        <label class="checkbox">
          <input type="checkbox" name="save-infos" value="salvar infos">
          Salvar Infos.
        </label>
        
      </fieldset>
      <input class="btn btn-danger" type="submit" value="T.I.A"/>
  </form>
</section>
<section id="content-area" style="display:none">
  <article>
    <h2>Notas</h2>
    <section id="grades">
      
    </section>
  </article>
  <article>
    <h2>Faltas</h2>
    <section id="absences">
      
    </section>
  </article>
  
</section>
