

<section class="alert fixed" style="display:none">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <p></p>
</section>

<!-- Login Area -->
<section id="login-area" style="display:none">
  <img src="/img/mack.gif" class="logo" alt="Mackenzie" />
  <form class="login-form" action="/fetch-my-tia" method="post">
      <fieldset>
        <label for="tia">
          <input type="text" data-placement="left" placeholder="Tia" maxlength="20" id="tia" name="tia"/>
        </label>
      </fieldset>
      <fieldset>
        <label for="pass">
          <input type="password" data-placement="right" placeholder="Senha" maxlength="20" id="pass" name="pass"/>
        </label>
      </fieldset>
      <fieldset>
        <label class="checkbox">
          <input type="checkbox" name="save-infos" class="save-infos" value="salvar infos">
          Salvar Infos.
        </label>
        
      </fieldset>
      <input class="btn btn-danger" type="submit" value="T.I.A"/>
  </form>
</section>

<!-- Content Section -->
<section id="content-area" style="display:none">
  <article class="grades-holder">
    <h2>Notas</h2>
    <section id="grades">
      <!-- Ajax Grades -->
    </section>
    <a href="#grades-weight" class="btn btn-danger grades-weight"><i class="icon-plus"></i> Tabela dos pesos </a>
  </article>
  <article class="absences-holder">
    <h2>Faltas</h2>
    <section id="absences">
      <!-- Ajax Absences -->
    </section>
  </article>
  
  <article class="schedule-holder">
    <h2>Horário</h2>
    <section id="schedule">
      <ul class="week nav nav-tabs nav-stacked">
        <li class="monday">
        <a href="#monday"><i class="icon-plus"></i>Segunda</a>
          <ul>

          </ul>
        </li>
        <li class="tuesday">
        <a href="#tuesday"><i class="icon-plus"></i>Terça</a>
          <ul>
            
          </ul>
        </li>
        <li class="wenesday">
          <a href="#wenesday"><i class="icon-plus"></i>Quarta</a>
          <ul>
            
          </ul>
        </li>
        <li class="thursday">
          <a href="#thursday"><i class="icon-plus"></i>Quinta</a>
          <ul>
            
          </ul>
        </li>
        <li class="friday">
         <a href="#friday"><i class="icon-plus"></i>Sexta</a>
          <ul>
            
          </ul>
        </li>
        <li class="saturday">
        <a href="#saturday"><i class="icon-plus"></i>Sábado</a>
          <ul>
            
          </ul>
        </li>
      </ul>
    </section>
    <div class="temp"></div>
  </article>
  
</section>


