<!DOCTYPE html>
<html lang="pt-BR">

  <head>
    <title>Tia - Lite</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Main Css -->
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <h1>Mackenzie</h1>
    <div class="container">
      <%= yield %>
    </div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/tialite.js"></script>
  </body>
</html>
