<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Tia - Lite</title>
    <!-- Feedback -->
    <meta name="thefeedbackbutton" content="TiaLite:01f5199f5f58b863904efbecdbe3ed">


    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Main Css -->
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
      <section class="navbar navbar-inverse navbar-fixed-top" style="display:none">
        <div class="navbar-inner">
          <!-- <ul class="nav"> -->
          <!--   <li class="active"><a href="#absences">Faltas</a></li> -->
          <!--   <li><a href="#grades">Notas</a></li> -->
          <!--   <li><a href="#schedule">Horarios</a></li> -->
          <!-- </ul> -->
          <ul class="to-apps">
            <li>
              <a href="#">
                <img src="img/appstore.png" alt="App Store" />
              </a>
            </li>
            <li>
              <a href="https://play.google.com/store/apps/details?id=com.tialite">
                <img src="img/gplay.png" target="_blank" alt="Google Play" />
              </a>
            </li>
          </ul>
          
          <h1><img src="img/mini-logo.gif" alt="Mackenzie" /> Atualizado: <strong class="refresh-date"></strong></h1>

          <ul class="external-actions">
            <li><div class="fb-like" data-href="http://www.tialite.me" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true" data-action="like" data-font="arial"></div></li>
            <li><a href="#refresh" class="btn btn-danger refresh" data-loading-text="Carregando ...">Atualizar</a></li>
            <li><a href="#logout" class="btn btn-danger logout">Sair</a></li>
          </ul>
        </div>
    </section>
    <div class="container">
      <%= yield %>
    </div>
    <!-- Loader Section -->
    <section id="loader" style="display:none">
      <h2 class="tia-number"></h2>
      <em>(Aguarde enquanto a suas informações são carregadas...)</em>
      <img class="main-loader"  src="img/loader.gif" alt="" />
    </section>
    

    <div id="fb-root"></div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/tialite.js"></script>

    <!-- Facebook  -->
    <script src="js/facebook.js"></script>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=516898721655192";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Feedback Button -->
    <script type="text/javascript" src="http://www.thefeedbackbutton.com/button.js"></script>
    <!-- G.A -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-36248283-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </body>
</html>
