/* Main css */

.container {
  position:relative;
  margin-top:30px;
  width:350px;
  
}


.navbar .mini-logo {
  float:left;
}

.navbar h1 {
  float:left;
  font-size:14px;
  margin:0;
}

.external-actions {
  float:right;
}

  .external-actions li {
    list-style:none;
    float:left;
    margin:0 5px;
  }

  #loader,
  #content-area,
  #login-area {
    text-align:center;
    padding:10px 10px 30px 10px;
    border:2px solid #fff;
    /* css3 */
    /* Rounded corner */
    -webkit-border-radius: 0 15px 15px 10px;
    -moz-border-radius: 0 15px 15px 10px;
    border-radius: 0 15px 15px 10px;

    /* Shadows */
    -webkit-box-shadow:  0px 5px 5px 5px #ccc;
    box-shadow:  0px 5px 5px 5px #ccc;
  }

  .empty {
    border:1px solid red !important;
  }
    .login-form {
      width:220px;
      margin:0 auto;
      text-align:left;
    }

    .login-form input {
      text-align:center;
      font-size:18px;
    }

    .login-form input[type=submit]{
      width:220px;
      margin:0 auto;
    }

   .logo {
     margin:10px 0;
   }

#loader {
  background:url('../img/bg.png') 0 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  
  }

 #content-area table {
   width:100%;
 }

   /* Reseting */

   #content-area #grades table:nth-child(2) {
     display:none;
   }

      /*Hidding 'Aulas previstas'*/
      #content-area #absences table tr th:nth-child(4),
      #content-area #absences table tr td:nth-child(4),

      #content-area #absences table tr:first-child th:first-child,
      #content-area #absences table tr td:first-child,
      #content-area #grades table tr td:first-child {
          display:none;
      }

      #content-area #grades table tr:first-child td {
        display:table-cell;
      }



