/* Main css */

.container {
  position:relative;
  margin-top:30px;
  width:350px;
  
}

#content-area h2 {
  background:#BD362F;
  color:#fff;
  /* css3 */
  /* Rounded corner */
  -webkit-border-radius: 0 15px 15px 10px;
  -moz-border-radius: 0 15px 15px 10px;
  border-radius: 0 15px 15px 10px;

  
}

#content-area .grades-holder,
#content-area .absences-holder,
#content-area .schedule-holder {
  border-bottom:2px solid #fff;
  margin-bottom:20px;
  padding-bottom:20px;
}


.navbar .mini-logo {
  float:left;
}

.navbar h1 {
  float:left;
  font-size:14px;
  margin-bottom:0;
}

.navbar h1 strong {
  color:#fff;
}

.external-actions {
  float:right;
  padding-top:10px;
}

  
.external-actions .gplus-share,
.external-actions .twitter-share {
  margin-top:10px;
}
.external-actions .facebook-share {
  width:134px;
}
.external-actions .fb-like {
  margin:10px 0 0 0;
} 


  .external-actions li {
    list-style:none;
    float:left;
    margin:0 5px;
  }

  #loader,
  #content-area,
  #login-area {
    text-align:center;
    padding:10px 10px 30px 10px;
    border:2px solid #fff;
    /* css3 */
    /* Rounded corner */
    -webkit-border-radius: 0 15px 15px 10px;
    -moz-border-radius: 0 15px 15px 10px;
    border-radius: 0 15px 15px 10px;

    /* Shadows */
    -webkit-box-shadow:  0px 5px 5px 5px #ccc;
    box-shadow:  0px 5px 5px 5px #ccc;
  }


  .empty {
    border:1px solid red !important;
  }
    .login-form {
      width:220px;
      margin:0 auto;
      text-align:left;
    }

    .login-form input {
      text-align:center;
      font-size:18px;
    }

    .login-form input[type=submit]{
      width:220px;
      margin:0 auto;
    }

   .logo {
     margin:10px 0;
   }

.alert,
#loader {
  position: fixed;
  top: 30%;
  left: 46%;
  margin-top: -50px;
  margin-left: -100px;
  width:350px;
  
  }

#loader {
  background:url('../img/bg.png') 0 0;
  text-align:center;
}  

  #loader .tia-number {
    color:#BD362F;
  }

  #loader .main-loader {
    margin:5px auto;
    display:block;
  }

  #loader .tia-number em {
    display:block;
  }

 #content-area table {
   width:100%;
 }


 .absences-holder table td {
   text-align:center;
 }


 .schedule-holder .week{
   text-align:left;
 }


 .schedule-holder .week li ul {
   display:none
 }

 .schedule-holder .week li ul li:nth-child(even) {
    border-bottom:2px solid #BD362F;
    margin-bottom:5px;
 } 

 .schedule-holder .week .active a {
   background:#BD362F;
   color:#fff;
   font-weight:bold;

  /* css3 */
  /* Rounded corner */
  -webkit-border-radius: 0 15px 15px 10px;
  -moz-border-radius: 0 15px 15px 10px;
  border-radius: 0 15px 15px 10px;
   
 }
 .schedule-holder .week a {
   color:#BD362F;
 }

  .to-apps {
    overflow:hidden;
    margin-left:66px;
  }

    .to-apps li {
      list-style:none;
      float:left;
    }

  .navbar-inner .to-apps {
    float:left;
    margin:10px 0 0 10px;
  }

  .navbar-inner .to-apps li {
    margin-right:20px;
  }

   /* Reseting */

   #content-area #grades table:nth-child(2) {
     display:none;
   }

      /*Hidding 'Aulas previstas'*/
      #content-area #absences table tr th:nth-child(4),
      #content-area #absences table tr td:nth-child(4),

      #content-area #absences table tr:first-child th:first-child,
      #content-area #absences table tr td:first-child,
      #content-area #grades table tr td:first-child {
          display:none;
      }

      #content-area #grades table tr:first-child td {
        display:table-cell;
      }



