html {
    font-family:Helvetica,Arial,sans-serif;
    font-size:14px;
    background:url('../images/bg.png') 0 0;
}
table {
    width:600px;
}

.basic-round {
	-moz-border-radius: 8px;
	-webkit-border-radius:8px;
}



fieldset {
    border:0;
}

input {
  margin: 5px 20px;
  padding: 9px 4px;
	-moz-border-radius: 8px;
	-webkit-border-radius:8px;
}


input[type='password'],
input[type='text'] {
	border: 1px solid #ccc;
  font-size:18px;
	width: 200px;
  text-align:center;
}

input[type='password'],
input[type="text"] {
	border-color: #b1b1b1;
}

input[type='password'],
input[type="text"]:focus {
	-moz-box-shadow: 0 0 3px #ccc;
	-webkit-box-shadow: 0 0 3px #ccc;
}



input[type='submit'] {
    background-color: #e33100;
    width:96px;
    height:25px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}


label {
    display:none;
}

a {
    color:#666;
}

h1 {
    background:url('../images/mack.png');
    text-indent:-999px;
    width:100px;
    height:100px;
    overflow:hidden;
    display:block;
    margin:0 auto 10px;
}

.save-label {
    display:inline;
}

.info {
    height:80px;
    display:none;
}


.faltas {
    float:left;
    display:inline;
}

.faltas table tr th:first-child,
.faltas table tr td:first-child,

/*Hidding 'Turmas'*/
.faltas table tr th:nth-child(3),
.faltas table tr td:nth-child(3),

/*Hidding 'Aulas previstas'*/
.faltas table tr th:nth-child(4),
.faltas table tr td:nth-child(4),

.notas  table:nth-child(2),
.notas  table tr td:first-child {
    display:none
}

.notas table tr:first-child td,
table tr th {
    background:red;
    color:#fff;
}

.freezed {
    border:1px solid red;
}


/* styling the containers */
#login-area {
  border:3px solid #ccc;
  width:350px;
  margin:0 auto;
  text-align:center;
  padding:10px;
    /* float:left; */
    /* display:inline; */
}
.dashboard {
    /* clear:both; */
}
/* the divisor */
hr {
    width:3px;
    height:300px;
    background:blue;
    float:left;
}





